{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	
	<div class="example-wrapper">
		<h1>Hello</h1>

		This friendly message is coming from:
		{# {{form(form_start)}} #}
		{# {{form_start(form)}}
		{{form_end(form)}} #}
		{{form(form)}}
	</div>
{% endblock %}
